:root {
    background-color: black;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

p{
    text-align: center;
    font-size: 20px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#pantalla {
    font-size: 70px;
    text-align: end;
    background:  black;/* background color */
    color: white;
    grid-column: 1 / -1;
    padding: 5%;
    border-radius: 5%;
}

#calculadora {
    max-inline-size: 40%;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 5%;
    gap: 2px;
}

button {
    font-size: 40px; 
    border-radius: 5%;
    padding: 0.5em 1.25em;
    border: 1px solid #000;
}

.botones-calculo {
    background-color: orange;
    color: black;
    font-weight: bold;
}

.botones-numero {
    background-color: gray;
    color: white;

}

#reset {
    background-color: lightcoral;
}

#igual {
    grid-column: -2;
    grid-row: 4 / span 4;
}
